body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.calc {
    height: 60vh;
  background: black;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  width: 400px;
  padding: 1rem;
}

.display {
    height: 9vh;
  background: #222;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: .75rem;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.buttons {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

button {
    height: 8.5vh;
  font-size: 1.2rem;
  padding: .75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #e0e0e0;
}

button:hover {
  background: #d0d0d0;
}

.operator {
  background: #ff9500;
  color: #fff;
}

.operator:hover {
  background: #e68a00;
}

.clear {
  background: #ff3b30;
  color: #fff;
  grid-column: span 2;
}

.clear:hover {
  background: #e6392f;
}

.equals {
  background: #4cd964;
  color: #fff;
  grid-column: span 2;
}

.equals:hover {
  background: #43c75c;
}

